h1{
    font-family: Broadway;
    font-size: 70px;
}

body {
    background-image: url("http://wallpapercave.com/wp/0SWRy86.jpg");
    background-repeat: repeat;
    background-position: center;
    margin-right: 200px;
    background-attachment: fixed;
}
