<!DOCTYPE html>
<html>
    <head>
        <title>Women Coders</title>
        <link rel ="stylesheet" href="styles.css">
    </head>
    <body>
        <h1 style = "text-align:center"> Our Space</h1>
        <img src="http://media.bizj.us/view/img/3229801/coders-cover*1200xx1200-675-0-36.png" height="550px"/>
        <main>
        <h3 style= "text-align:center"> <strong>Introduction</strong></h3>
        <p> I am a young women of color that is learning how to code and loving it.
            I want to share my experience with as many women as I can to spark a tech
            revolution among women.This blog is dedicated to every woman that has interest in
            learning how to code. Want some more inspiration check out this list of female programmers</p><a href="https://www.techtricksworld.com/5-famous-female-programmers/"></a>
            <br>
        </br>
        <h3 style ="fron-family:Arial">Things you should know before you get started coding</h3>
        <p> There are a lot of things I wish someone one would have told me before I started on my journey.
            No worries I'm right here to give it to you straight.Learning to code has been one of the most challenging
            things I have embarked on. Coding has taught me it's ok to mess up. That's right you have to be willing to mess up
            if your going to learn. So that means spending all day and night working on something and then asking someone to
            look over your code to only find out you forgot to close a bracket.Learn to embrace mistakes so that you can learn from them.
            Don't be afraid to ask for help. I have learned the coding community loves to help you. When you run into a problem use every
            resource, from the online community such as <a href="http://stackoverflow.com/questions"></a> or finding a place in your local
            community where coders gather.Another thing is you will not become Steve Jobs over night. Learning to code takes time and practice.
            The only way to get better at coding is to keep figuring out how to solve problems. Oh and the best part there is some times no math
            or very basic.If your a detail oriented person coding is for you.</p>
            <br>
        </br>
        <h3 style="front-family:Arial">How to get started</h3>
        <p> When I first had an interest in coding I decided to go the class room way.I knew my learning style was better suited for a class
            environment where I could have a community of others to talk to. When starting out it's key to have a support group to tell you,
            you can push through the hard times. I went with a free class right in the St. Louis community called Launch code. Launch code
            is a free program set up to teach minorities how to code.<a href="https://www.launchcode.org/"></a> Launch code also offers online
            classes. I would tell anyone it's better to learn with a group of people then by your self you get a sense of community and support.
            The first computer language I learned was Python, which is a great language to start off with because it is similar to the way we speak.
            Once you understand one language it makes it a lot easier to learn others.</p>



</main>
</body>
</html> 
