{% extends 'base.html' %}

{% block content %}

<h1 style = "text-align:center">Our blog</h1>


<div class="container">
  <div class="jumbotron">
    <center><img = src="http://media.bizj.us/view/img/3229801/coders-cover*1200xx1200-675-0-36.png" height="360px" width="900px"/>
    <p>Our blog a place for women that want to learn to code.</p>
  </div>

</div>

<div class="container">
  <h2>Introduction</h2>
  <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">about </button>
  <div id="demo" class="collapse">
    I am a young women of color that is learning how to code and loving it. I want to share my experience with as many women as I can to spark a tech revolution among women. This blog is dedicated to every woman that has interest in learning how to code. Want some more inspiration check out this list of female programmers
  </div>
</div>
<html>
    <head>
    <title>Our space</title>
</head>

{% endblock %}
