{% extends 'base.html' %}

{% block content %}

    <h1 style = "text-align:center">Our blog</h1>
<center><img src="http://media.bizj.us/view/img/3229801/coders-cover*1200xx1200-675-0-36.png" class="img-rounded" height="400px" width="600px"/>
<p>Our blog a place for women that want to learn to code.</p>
</div>
<h2 style = "text-align:center">Introduction</h2>
<p>I'm a young women of color that is learning how to code and loving it.
   I want to share my experience with as many women as I can to spark a tech
   revolution among women. This blog is dedicated to every woman that has interest in
   learning how to code. Want some more inspiration check out this list of female programmers</p>
  <a href="http://www.techtricksworld.com/5-famous-female-programmers">http://www.techtricksworld.com/5-famous-female-programmers</a>
</div>

{% endblock %}
